<mat-dialog-content class="canteiner-modal-geral">
    <div class="container-modal" >
        <div class="imagen-order">
            <img  [src]="getSelectedProductImg()" alt="Produto" class="img-modal" />
        </div>

        <div class="content-right">
            <div class="text-order" >
                <p style="font-weight: 700;">{{ data.selectedProduct.title }}</p>
                <p style="font-size: 14px; line-height: 20px;">{{ data.selectedProduct.description }}.</p>
            </div>

            <div class="container-choice">
                <div class="text-size">
                    <p>Escolha O TAMANHO</p>
                    <p>Escolha 1 opção</p>
                </div>
                <div class="button-mandatory">
                    <button>Obrigatório</button>
                </div>
            </div>

            <div  class="container-options">
                <div class="options-1">
                    <div>
                        <p>300ml</p>
                        <p>R$15,00</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"></i>
                    </div>
                </div>

                <div class="options-1">
                    <div>
                        <p>300ml</p>
                        <p>R$15,00</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"></i>
                    </div>
                </div>

                <div class="options-1">
                    <div>
                        <p>300ml</p>
                        <p>R$15,00</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"></i>
                    </div>
                </div>
                <div class="options-1">
                    <div>
                        <p>300ml</p>
                        <p>R$15,00</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"></i>
                    </div>
                </div>

                <div class="options-1">
                    <div>
                        <p>300ml</p>
                        <p>R$15,00</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"></i>
                    </div>
                </div>

                <div class="options-1">
                    <div>
                        <p>300ml</p>
                        <p>R$15,00</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"></i>
                    </div>
                </div>

            </div>

          
    </div>
</div>
<div class="container-Observ">
    <p>Alguma Observação</p>

    <input type="text" class="custom-input" placeholder="Digite seu nome" />
    
    <div class="container-button">
            <button class="button-number"> - <p>1</p> + </button>
            <button class="button-adicionar">ADICIONAR R$0,00</button>
    
    </div>
</div>

</mat-dialog-content>