<mat-dialog-content class="canteiner-modal-geral">
    <div class="container-modal" >
        <div class="imagen-order">
            <img  [src]="getSelectedProductImg()" alt="Produto" class="img-modal" />
        </div>

        <div class="content-right">
            <div class="text-order" >
                <p style="font-weight: 700;">{{ data.selectedProduct.title }}</p>
                <p style="font-size: 14px; line-height: 20px;">{{ data.selectedProduct.description }}.</p>
            </div>

            <div class="container-choice">
                <div class="text-size">
                    <p>{{ data.selectedProduct.size }}</p>
                    <p>{{ data.selectedProduct.option }}</p>
                </div>
                <div class="button-mandatory">
                    <button>{{ data.selectedProduct.mandatory}}</button>
                </div>
            </div>

            <div  class="container-options">
                <div *ngFor="let option of data.selectedProduct.options" class="options-1">
                    <div>
                        <p>{{ option.ml }}</p>
                        <p>{{ option.valueml  }}</p>
                    </div>

                    <div class="icon-more">
                        <i class="pi pi-plus"  (click)="selecionarOption(option)"></i>
                    </div>
                </div>

            </div>

          
    </div>
</div>
<div class="container-Observ">
    <p>Alguma Observação</p>

    <input type="text" class="custom-input" placeholder="Digite seu nome" />
    
    <div class="container-button">
        <div class="container-add">
        <button class="button-number" (click)="diminuirQuantidade()">-</button>
        <button  id="quantidade" class="button-quanty">{{ quantidade }}</button>
        <button class="button-number2" (click)="aumentarQuantidade()">+</button>
        </div>
            <button class="button-adicionar" (click)="adicionarValorAoPedido()">ADICIONAR R$ {{ total.toFixed(2) }}</button>
    
    </div>
</div>

</mat-dialog-content>