<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <h1 class="title-car">Sacola</h1>

    <div class="container-text-product">
      <strong>Resumo</strong>
      <p (click)="clearCart()">LIMPAR</p>
    </div>

    <div class="container-product" *ngFor="let item of cartItems">
      <div class="product-description">
        <p><strong>{{item.quantity}}X</strong> {{item.title}}</p>
        <strong style="color:blue">R${{item.price}}</strong>
      </div>
      <div class="product-description-replic">
        <p><strong style="color: red;">{{item.quantity}}X</strong> {{item.option}} (R${{item.price}})</p>
      </div>
      <div class="container-edit">
        <p>EDITAR</p>
        <p class="remover" (click)="cartService.removeItem(item.productId); updateCart()">REMOVER</p>
      </div>
    </div>

    <button class="add-button" (click)="navigateToHome()">
      <p>ADICIONAR MAIS PRODUTOS</p>
    </button>

    <div>
      <p>Cupom de desconto*</p>
      <div class="text-field"></div>

      <div class="container-sub">
        <p>Subtotal</p>
        <p></p>
      </div>
      <div class="container-sub">
        <p>Total</p>
        <p>R$</p>
      </div>

      <div class="finalize-order">
        <a routerLink="Checkout"> FINALIZAR PEDIDO - R$ </a>
      </div>
    </div>
  </mat-drawer>

  <header class="header-content">
    <div class="header">
      <img class="logo" src="assets/marca.png" alt="marca" />
      <h1 class="title">{{ company?.name }}</h1>
      <span class="address"> {{company?.address.street}}, {{company?.address.number}}, {{company?.address.neighborhood}}, {{company?.address.city}}  - {{company?.address.state}}</span>
      <div class="opening-hours">
        <span class="text-hours"> {{company?.address.week}} - {{company?.address.time}} </span>
      </div>
      <span class="address"
        > {{company?.address.delivery}} <i class="pi pi-circle-fill"></i> {{company?.address.order}}
        <i class="pi pi-circle-fill"></i> {{company?.address.more}}</span
      >

      <div class="container-instagram">
        <img
          class="img-instagram"
          src="assets/png-clipart-sodexo-organization-logo-facility-management-iss-logo-blue-flag.png"
          alt="instagram"
        />
      </div>
    </div>
  </header>
  


  <div class="container-buscar">
    <div class="text-buscar">
      <p>Buscar Produto</p>
    </div>
    <div class="icon-buscar">
      <i class="pi pi-search"></i>
    </div>
  </div>

 
  
  <div class="container-categorias" >
    <div class="borde-botton" *ngFor="let category of categoriesTitle; let i=index" [ngClass]="{'selected': i === selectedCategoryIndex}" (click)="onCategoria(i)">
      <div class="text-categorias">
      <p>{{ category.name}}</p>
      </div>

    </div>
    </div>


  <div *ngFor="let itemCategory of productsByCategory?.categories; let i=index">
    <h2 class="h2-text">{{itemCategory.name}}</h2>
  <div class="container-main">
    <div class="row">
  <!--Inicio do Produto-->
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let itemProduct of itemCategory?.products; let i=index">
        <div class="gruop-img">
          <div class="group-text">
            <p style="font-weight: 700">{{itemProduct.title}}</p>
            <p style="font-size: 14px; line-height: 20px">
              {{itemProduct.description}}
            </p>
            <div class="container-price">
              <p class="price">{{itemProduct.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
            </div>
          </div>

          <div class="imagen-container">
            <i class="pi pi-plus-circle" (click)="openDialog(itemCategory.id, itemProduct.id)"></i>
            <img [src]="itemProduct.img" alt="Imagem do produto" class="img-produt" />
            <!--
            <img
              src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg"
              alt="sorvete"
              class="img-produt"
            />
            -->
          </div>
        </div>
      </div>
      <!--Fim do Produto-->

    </div>
  </div>
  </div>

<hr>
<!--
  <div>

    <main class="container-main">
      <div class="row">

        
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700"> Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$16,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$18,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/857f9a5ece01583d358e4edacb1e50d5.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$20,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/c3817ef5-5c4d-4840-8ea6-70fb120a4253-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
       
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$15,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/e613f257-5762-48fe-9274-cac512bbc3bb-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$25,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img src="assets/images.jpg" alt="sorvete" class="img-produt" />
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$10,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/istockphoto-1364213175-612x612.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
       
      </div>
    </main>
  </div>

  <h2 class="h2-text">AÇAI (MONTE DO SEU JEITO)</h2>

  <div>
    <main class="container-main">
      <div class="row">
       
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$16,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$18,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/857f9a5ece01583d358e4edacb1e50d5.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$20,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/c3817ef5-5c4d-4840-8ea6-70fb120a4253-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
       
      </div>
    </main>
  </div>

  <h2 class="h2-text">BEBIDAS GELADAS</h2>

  <div>
    <main class="container-main">
      <div class="row">
       
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$16,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$18,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/857f9a5ece01583d358e4edacb1e50d5.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
       
        <div class="col-md-4">
          <div class="gruop-img">
            <div class="group-text">
              <p style="font-weight: 700">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px">
                Açai,leite em pó,leite condesando,creme de avelã,confete,morango
                e bana.
              </p>
              <div class="container-price">
                <p class="price">a partir de R$20,00</p>
              </div>
            </div>

            <div class="imagen-container">
              <i class="pi pi-plus-circle" (click)="openDialog()"></i>
              <img
                src="assets/c3817ef5-5c4d-4840-8ea6-70fb120a4253-medium.jpg"
                alt="sorvete"
                class="img-produt"
              />
            </div>
          </div>
        </div>
        
      </div>
    </main>
  </div>
  -->

  <!--BOTTON CART-->
  <button
    class="container-carinho"
    type="button"
    mat-button
    (click)="drawer.toggle()"
  >
    <div class="btn-carinho">
      ( <span id="cart-count">{{ cartItemCount }}</span> ) Ver Itens
      <i class="pi pi-shopping-cart" style="font-size: 13px"></i>
    </div>
  </button>
  <!--BOTTON CART-->

  <footer>
    <p>codeexpress</p>
  </footer>
</mat-drawer-container>


