<header class="header-content">
    <div class="header">
      <img class="logo" src="assets/marca.png" alt="marca">
        <h1 class="title">Sávio Sorvetes</h1>
        <span class="address">Av Higienópolis 560,Centro, Londrina - PR</span>
        <div class="opening-hours">
            <span class="text-hours">Seg á Dom - 18:00 as 22:00</span>
        </div>
        <span class="address">20-45min * Mínimo R$10,00 * Ver mais</span>
    </div>
  </header>

  <h2 class="h2-text">
    AÇAI ESPECIAIS
  </h2>
 

<div >

  <main class="container-main">

     <!--Inicio do Produto-->
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>

              <div class="container-price">
                  <p class="price">a partir de R$15,00</p>
              </div>
          </div>
          <img src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg" alt="sorvete"
          class="img-produt" />
      </div>
      <!--Fim do Produto-->

       <!--Inicio do Produto-->
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>

              <div class="container-price">
                  <p class="price">a partir de R$15,00</p>
              </div>
          </div>
          <img src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg" alt="sorvete"
          class="img-produt" />
      </div>
      <!--Fim do Produto-->

       <!--Inicio do Produto-->
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>

              <div class="container-price">
                  <p class="price">a partir de R$15,00</p>
              </div>
          </div>
          <img src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg" alt="sorvete"
          class="img-produt" />
      </div>
      <!--Fim do Produto-->

    

      </main>
    </div>

    <!--BOTTON CART-->
<footer class="container-footer">
  <button class="btn-fooder"
  id="card-btn">
      (<span id="cart-count">0</span>)
      Veja meu carrinho
      <i class="icon"></i>
  </button>
</footer>
<!--BOTTON CART-->



<router-outlet />
