<header class="header-content">
    <div class="header">
      <img class="logo" src="assets/marca.png" alt="marca">
        <h1 class="title">Sávio Sorvetes</h1>
        <span class="address">Av Higienópolis 560,Centro, Londrina - PR</span>
        <div class="opening-hours">
            <span class="text-hours">Seg á Dom - 18:00 as 22:00</span>
        </div>
        <span class="address">20-45min  <i class="pi pi-circle-fill"></i>  Mínimo R$10,00  <i class="pi pi-circle-fill"></i>  Ver mais</span>
      
        <div class="container-instagram">
          <img  class="img-instagram" src="assets/png-clipart-sodexo-organization-logo-facility-management-iss-logo-blue-flag.png" alt="instagram">
        </div>
        
      </div>
    
  </header>

  <div class="container-buscar">
    <div class="text-buscar">
    <p>Buscar Produto</p>
  </div>
  <div class="icon-buscar">
    <i class="pi pi-search"></i>
  </div>
  </div>

  <div class="container-categorias">
  <div class="borde-botton">
    <div class="text-categorias">
    <p>AÇAI ESPECIAIS</p>
  </div>
  </div>

  <div class="borde-botton-cinza">
    <div class="text-categorias-black">
    <p>AÇAI ESPECIAIS</p>
  </div>
  </div>

  <div class="borde-botton-cinza">
    <div class="text-categorias-black">
    <p>AÇAI ESPECIAIS</p>
  </div>
  </div>

  <div class="borde-botton-cinza">
    <div class="text-categorias-black">
    <p>AÇAI ESPECIAIS</p>
  </div>
  </div>

  <div class="borde-botton-cinza">
    <div class="text-categorias-black">
    <p>AÇAI ESPECIAIS</p>
  </div>
  </div>

  <div class="borde-botton-cinza">
    <div class="text-categorias-black">
    <p>AÇAI ESPECIAIS</p>
  </div>
  </div>

</div>



  <h2 class="h2-text">
    AÇAI ESPECIAIS
  </h2>
 

<div >

  <main class="container-main">
    <div class="row">
     <!--Inicio do Produto-->
     <div class="col-md-4">
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>
              <div class="container-price">
             
                  <p class="price">a partir de R$16,00</p>
              </div>
          </div>

          <div class="imagen-container">
          <i class="pi pi-plus-circle"></i>
          <img src="assets/0000734f-34a6-46a6-bccb-28692ec2b5f4-medium.jpg" alt="sorvete"
          class="img-produt" />
        </div>

      </div>
    </div>
      <!--Fim do Produto-->

       <!--Inicio do Produto-->
     <div class="col-md-4">
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>
              <div class="container-price">
             
                  <p class="price">a partir de R$18,00</p>
              </div>
          </div>

          <div class="imagen-container">
          <i class="pi pi-plus-circle"></i>
          <img src="assets/857f9a5ece01583d358e4edacb1e50d5.jpg" alt="sorvete"
          class="img-produt" />
        </div>

      </div>
    </div>
      <!--Fim do Produto-->

       <!--Inicio do Produto-->
     <div class="col-md-4">
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>
              <div class="container-price">
             
                  <p class="price">a partir de R$20,00</p>
              </div>
          </div>

          <div class="imagen-container">
          <i class="pi pi-plus-circle"></i>
          <img src="assets/c3817ef5-5c4d-4840-8ea6-70fb120a4253-medium.jpg" alt="sorvete"
          class="img-produt" />
        </div>

      </div>
    </div>
      <!--Fim do Produto-->
      
       <!--Inicio do Produto-->
     <div class="col-md-4">
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>
              <div class="container-price">
             
                  <p class="price">a partir de R$15,00</p>
              </div>
          </div>

          <div class="imagen-container">
          <i class="pi pi-plus-circle"></i>
          <img src="assets/e613f257-5762-48fe-9274-cac512bbc3bb-medium.jpg" alt="sorvete"
          class="img-produt" />
        </div>

      </div>
    </div>
      <!--Fim do Produto-->

       <!--Inicio do Produto-->
     <div class="col-md-4">
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>
              <div class="container-price">
             
                  <p class="price">a partir de R$25,00</p>
              </div>
          </div>

          <div class="imagen-container">
          <i class="pi pi-plus-circle"></i>
          <img src="assets/images.jpg" alt="sorvete"
          class="img-produt" />
        </div>

      </div>
    </div>
      <!--Fim do Produto-->

       <!--Inicio do Produto-->
     <div class="col-md-4">
      <div class="gruop-img">
          <div class="group-text">
              <p style="font-weight: 700;">Moda da Casa</p>
              <p style="font-size: 14px; line-height: 20px;">Açai,leite em pó,leite condesando,creme
                de avelã,confete,morango e bana.</p>
              <div class="container-price">
             
                  <p class="price">a partir de R$10,00</p>
              </div>
          </div>

          <div class="imagen-container">
          <i class="pi pi-plus-circle"></i>
          <img src="assets/istockphoto-1364213175-612x612.jpg" alt="sorvete"
          class="img-produt" />
        </div>

      </div>
    </div>
      <!--Fim do Produto-->
      
  </div>

      </main>
    </div>

  <!--BOTTON CART-->
    <button class="container-carinho"id="card-btn">
      <div class="btn-carinho">
      ( <span id="cart-count">0</span> )
     Ver Itens
      <i class="pi pi-shopping-cart " style="font-size: 13px;"></i>
    </div>
  </button>
    <!--BOTTON CART-->

<footer>
  <p>codeexpress</p>
</footer>




<router-outlet />
